<header class="header">
    <h1 class="logo__wrap">
        <a href="#"><img src="./img/s-p-d-u.svg" class="logo__image"/></a>
    </h1>

    <nav class="menu header-menu__left">
        <ul>
            <li class="menu__item">
                <a href="#">Profile Editor</a>
            </li>
        </ul>

    </nav>

    <nav class="menu header-menu__right">
        <ul>
            <li class="menu__item"><a href="#" >Contacts</a></li>
            <li class="menu__item"><a href="#">FAQs</a></li>
            <li class="menu__item"><a href="#">Save and Exit</a></li>
        </ul>
    </nav>
</header>