<div class="content">

    <div class="content-wrap">
      <sidebar></sidebar>

      <div  class="offices-content">
        <div class="content-about">
          <content-title></content-title>
          <content-description></content-description>
        </div>

        <offices></offices>
        <div class="control">
          <button type="button" class="button button__primary">Back</button>
          <a href="#" class="provide-comments"><img src="./img/plus.png" class="provide-comments__plus"/>Provide additional comments</a>
          <div class="control-buttons__right">
            <button type="button" class="button__primary button">Skip this step</button>
            <button type="button" class="button__secondary button">Continue</button>
          </div>
        </div>
      </div>

    </div>
</div>
