p, button, a, li {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.5px;
}

.main-menu__link {
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #53687e;
    transition: all .3s ease;
}

.main-menu__link:hover {
    color: #fff;
}

.main-menu__item {
    padding-left: 23px;
    border: solid 1px #D8DDE3;
    line-height: 3.43;
}