p, button, a, li {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.5px;
}

.sub-menu__link {
    text-decoration: none;
    letter-spacing: normal;
    color: #334152;
    transition: all .3s ease;
}

.sub-menu__link:hover {
    color: #fff;
}

.sub-menu__item {
    line-height: 2.29;
    width: 100%;
}
.is-active {
    position: relative;
    left: -23px;
    padding-left: 19px;
    font-weight: 600;
    color: #334152;
    border-left: 5px solid #419BF9;
}
.is-visited {
    color: #8c96a3;
}
.check-mark {
    position: relative;
    top: 2px;
    width: 15px;
    height: auto;
    margin-left: 16px;
}